body {
  background-image: url("https://picsum.photos/1920/1080");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  padding: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;

  & h1{
    font-size: 60px;
    margin: 0 ;
    }
  & p{
    font-size: 20px;
    margin: 0;
    & span{
        color:#0688e6
    }
    }
  & p:last-child{
    & span{
        color: red;
    }
    }
}

.result {
  margin: 0 0 10px 0;
  font-size: 30px;
  font-weight: bold;
  height: 50px;
}

.buttons {
  display: flex;
  gap: 20px;
   margin: 20px 0;

  & button {
    font-size: 50px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  & button:nth-child(1) {
    background-color: #ffd500;
    border-radius: 10px;

    &:hover {
    transition: all 0.3s ease-in-out;
    opacity: 0.65;
    }
  }
  & button:nth-child(2) {
    background-color: #14d2f8;
    border-radius: 10px;

    &:hover {
      transition: all 0.3s ease-in-out;
      opacity: 0.65;
    }
  }
  & button:nth-child(3) {
    background-color: #f6532f;
    border-radius: 10px;
        
    &:hover {
    transition: all 0.3s ease-in-out;
    opacity: 0.65;
    }
  }
} 